{%  extends "layout.twig" %}

{% block content %}
    <h1>Bienvenue</h1>

    {% for post in posts %}
        <article>
            <h1>{{ post.name }}</h1>
        </article>
    {%  endfor %}
{% endblock %}