{%  extends "layout.twig" %}

{% block content %}
    <h1>Bienvenue</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, at deserunt distinctio facere id sequi sint voluptatibus. Ad cum doloribus, ducimus, ex fuga incidunt libero porro quam, quas suscipit vel?
    </p>
{% endblock %}